* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    background-image: url(./photo/cart_bg.jpg);
    background-position: center;
    background-size: contain;
}

section.SecondLine {
    background-color: #FF0000;
    height: 35px;
    display: flex;
    width: 100%;
    gap: 20px;
    padding-left: 100px;
    align-items: center;
    color: white;
}

section.SecondLine a {
    text-decoration: none;
    color: white;
}

section.SecondLine a:nth-child(3) {
    color: yellow;
}

.fisrtimg img {
    width: 100%;
    height: 15px;
    margin-top: -14px;
}

.secondimg {
    width: 100%;
    height: 5px;
    margin-bottom: 1000px;
    margin-top: -15px;
}